<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detonation_Dash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detonation Dash</h1>
        <p>Evite as bombas, ative escudos e chegue ao destino final!</p>
        <br><br>
        <a href="/selecionar_tamanho" style="background: #89b4fa; color: #1e1e2e; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold;">Iniciar Desafio</a>
    </div>
</body>
</html>